{% extends "budgeter/base.html" %}
{% load static %}
{% block content %}
    <div class="home-layout">
      <div class="box">
        <div class="content">
          <img src="/media/home-page/money1.jpg" alt="" />
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus sit
            repellat veritatis dolores non sapiente ipsam natus tempore nulla magni.
          </p>
        </div>
      </div>
      <div class="box">
        <div class="content">
          <img src="/media/home-page/money2.jpg" alt="" />
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam
            autem, eaque porro impedit ipsum suscipit eum veritatis tenetur libero.
            Dolor unde quia mollitia ad quis aut veritatis delectus totam? Eveniet.
          </p>
        </div>
      </div>
      <div class="box">
        <div class="content">
          <img src="/media/home-page/money3.webp" alt="" />
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error, vitae!
          </p>
        </div>
      </div>
      <div class="box">
        <div class="content">
          <img src="/media/home-page/money2.jpg" alt="" />
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui ipsum iste
            doloremque maxime laboriosam! Quis unde labore qui aliquam quia expedita
            quas illo ab asperiores.
          </p>
        </div>
      </div>
      <div class="box">
        <div class="content">
          <img src="/media/home-page/money1.jpg" alt="" />
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis
            quibusdam quidem praesentium molestias, libero aperiam vero neque est?
          </p>
        </div>
      </div>
    </div>
{% endblock content %}
